@page
@model GeekPC.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Детали";
}
<section class="main-content">
      <div class="container">

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Descr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Descr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.DatePublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.DatePublication)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.ID" class="btn btn-success">Редактировать</a> |
    <a asp-page="./Index" class="btn btn-secondary">Вернуться</a>
</div>

</div>
</section>
