@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container-fluid my-carousel">
    <div id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-page="/Catalog"><img src="~/img/sliderbg/img1.png" class="d-block w-100" alt="..." /></a>
                <div class="carousel-caption d-flex flex-column">
                    <p>Большой выбор комплектующих</p>
                    <p>Для любых ваших задач</p>
                </div>
            </div>
            <div class="carousel-item">
                <a asp-page="/Catalog"><img src="~/img/sliderbg/img2.png" class="d-block w-100" alt="..." /></a>
                <div class="carousel-caption d-flex flex-column">
                    <p>Игровые мыши</p>
                    <p>Минимум веса и задержки</p>
                </div>
            </div>
            <div class="carousel-item">
                <a asp-page="/Catalog"><img src="~/img/sliderbg/img3.png" class="d-block w-100" alt="..." /></a>
                <div class="carousel-caption d-flex flex-column">
                    <p>Varmilo, Leopold и другие</p>
                    <p>Только качественные девайсы</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 mb-3">
                <div class="category-card">
                    <h1>Клавиатуры</h1>
                    <!-- <ul class="site-fp-cats__tags">
                       <p class="badge bg-light"><a href="#">Varmilo</a></P>
                       <p class="badge bg-light"><a href="#">leopold</a></p>
                       <p class="badge bg-light"><a href="#">Ducky</a></p>
                       <p class="badge bg-light"><a href="#">Durgod</a></p>
                       <p class="badge bg-light"><a href="pages/keyboards.html">Все клавиатуры</a></p>
                     </ul> -->
                    <a class="cc-kb" asp-page="/Catalog"><img src="~/img/main/keyboards-2.webp"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="category-card">
                    <h1>Мыши</h1>
                    <!-- <ul class="site-fp-cats__tags">
                       <p class="badge bg-light"><a href="#">Logitech</a></p>
                       <p class="badge bg-light"><a href="#">Проводные</a></p>
                       <p class="badge bg-light"><a href="#">Беспроводные</a></p>
                     </ul> -->
                    <a class="cc-mice" asp-page="/Catalog"><img src="~/img/main/mice.webp"></a>
                </div>
            </div>
       
        @foreach (var item in Model.Items)
        {
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="@($"viewitem/{item.ID}")">
                            <img src="@($"data:image/png;base64, {item?.Images[0]?.FileData ?? string.Empty}")"
                             alt="" />
                        </a>
                    </div>
                    <div class="product-details">
                        <h4><a href="@($"viewitem/{item.ID}")">@item.Name</a></h4>
                        <p>@item.Descr</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">@item.Price р</div>
                            <div class="product-links">
                                <a href="pages/checkout/checkout.html"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
         </div>
    </div>
</section>
